terraform {
  backend "s3" {
    bucket                      = "your_bucket_name"
    key                         = "terraform.tfstate"
    region                      = "your_region"
    endpoint                    = "https://s3.fr-par.scw.cloud"
    access_key                  = "your_access_key"
    secret_key                  = "you_secret_key"
    skip_credentials_validation = true
    skip_region_validation      = true
  }
}